launch.json
voxcpm.egg-info
.DS_Store
./pretrained_models/
app_local.py
.runtime/

# Env files
.env
.env.*
!.env.example
web/.env
web/.env.*
!web/.env.example

# Database files
*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Logs
*.log
server.log
.history/
.bash_history
.python_history

# Audio & temp files
*.wav
*.mp3
*.raw
tmp/
temp/

# Python cache
__pycache__/
*.pyc

# Frontend build/cache
node_modules/
.next/
dist/
build/
